@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:wght@100&display=swap');
/*GLOBALS*/
* {
    box-sizing: border-box;
}

:root {
    font-family: "Roboto Slab", serif;
    --bck-color-primary: rgb(235, 235, 235);
    --bck-color-secundary: rgb(240, 240, 240)
}

input {
    font-family: "Roboto Slab", serif;
    border: none;
    background-color: var(--bck-color-secundary);
    padding: 0.25rem;

}
button {
    margin: 0.25rem;
}

button:hover, tr:hover {
    cursor: pointer;
}

select {
    border: none;
    padding: 0.25rem;
    background-color: var(--bck-color-secundary);
}


/*RESPONSIVENESS*/
@media (max-width: 1200px) {
    input, select {
        padding: 0.25rem;
        border-radius: 0.25rem;
        font-size: 1rem;
    }

    .add-entry-modal {
        width: 100%;
    }
    .add-entry-modal-container {
        padding: 0;
    }

    button {
        font-size: 1rem;
    }
}
/*Header*/
header {
    padding: 0.5rem;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: white;
    /* backdrop-filter: blur(10px); */
}
header h1 {
    margin: 0px auto;
}

/*BUTTONS*/
button {
    border: var(--bck-color-primary);
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    color: black;
}

/*MODALS*/
.add-entry-modal-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    /* border: green thin solid; */
    /* padding: 2rem; */
    display: flex;
    vertical-align: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.528);
}

.add-entry-modal {
    margin-top: 1rem;
    width:  100%;
    font-size: 1.2em;
    padding: 1rem;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.25);
}

/*ADD ENTRY STUFF*/
.add-entry-controls > * {
    margin-top: 0.5rem
}

/*TABLE ENTRIES*/
.table-entries {
    width: 100%;
    border-collapse: collapse;
    text-wrap: wrap;
}
.table-entries th {
    /* color: rgb(64, 64, 64); */
    background-color: var(--bck-color-primary);
}
.table-entries td {
    /*background-color:  rgb(250, 250, 250) ; */
    /* border: gray thin solid; */
    padding: 0.5rem;
    border: none;
    border-bottom: gray thin solid;
}

.table-entries tr {
    /* border: none; */
}

/*Summary of date template*/
.summary-date-table {
    width: 100%;
    border-collapse: collapse;
}
.summary-date-table td {
    /*background-color:  rgb(250, 250, 250) ; */
    border: gray thin solid;
}

/*DAY TEMPLATE*/
.header-s {
    margin: 0;
}
.header-i {
    margin: 0;
}
.date-header  {
/* margin-top: 1.5rem; */
margin-bottom: 0;
}


/*CLASSES UTILS*/ 
.flex {
    display: grid;
    grid-template-columns: 2;
}
.hide {
    display: none;
}

.rowSelected {
    transition: all 0.5s;
    background-color: rgb(255, 255, 155);
}

